/* NFT IMAGE */
.previewModal__nft {
  border-radius: 0.6rem;
  height: 19rem;
  width: 19rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.previewModal__img {
  height: 19rem;
}

.previewModal__nftOverlay {
  background: hsl(178, 100%, 50%);
  height: 100%;
  width: 100%;
  opacity: 0%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

.previewModal__nft:hover .previewModal__nftOverlay {
  opacity: 50%;
  transition: all 1s ease;
}

.previewModal__nftView {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.previewModal__nft:hover .previewModal__nftView {
  opacity: 100%;
  transition: all 1s ease;
}

/* TEXT BLOCK */
h1 {
  margin-top: 0.7rem;
}

h1 a {
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s ease;
}

h1 a:hover {
  color: hsl(178, 100%, 50%);
  transition: all 0.5s ease;
}

p {
  color: hsl(215, 51%, 70%);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7rem;
  margin-top: -0.4rem;
}

/* DETAILS */
.previewModal__details {
  display: flex;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.previewModal__details img {
  display: inline-block;
  margin-right: 0.4rem;
  vertical-align: middle;
}

.previewModal__details__ethText {
  color: hsl(178, 100%, 50%);
  display: inline-block;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  vertical-align: middle;
}

.previewModal__details__clockText {
  color: hsl(215, 51%, 70%);
  display: inline-block;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  vertical-align: middle;
}

hr {
  border: 0;
  border-top: 1px solid hsl(215, 51%, 70%);
  margin-top: 1.4rem;
  opacity: 25%;
  width: 100%;
}

/* CREATOR/AUTHOR */
.previewModal__creation {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

.previewModal__creation__author {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
}

.previewModal__creation__author img {
  width: 2rem;
}

.previewModal__creation__text {
  color: hsl(215, 51%, 70%);
  margin-left: 1rem;
}

.previewModal__creation__text a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  transition: all 0.5s ease;
}

.previewModal__creation__text a:hover {
  color: hsl(178, 100%, 50%);
  transition: all 0.5s ease;
}
