@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;700&display=swap");

body {
  background: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
